<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>getBoundingClientRect</title>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      main {
        padding: 200px;
        position: relative;
        background-color: pink;
      }
      #app {
        width: 200px;
        background: #e34334;
        margin: 100px;
        padding: 50px;
        border: 20px solid #efbc0f;
        color: white;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <div id="app">houdunren.com</div>
    </main>
    <script>
      let app = document.getElementById('app')
      let info = app.getBoundingClientRect()
      console.table(info)
    </script>
  </body>
</html>
