<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        padding: 30px;
      }
      #hd {
        height: 30px;
        background: yellowgreen;
        width: 0;
        text-align: center;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="hd"></div>
    <script>
      function view() {
        let i = 0
        ;(function run() {
          hd.innerHTML = i
          hd.style.width = i + '%'
          if (++i <= 100) {
            console.log(i)
            setTimeout(run, 20)
          }
        })()
      }
      view()
      console.log('进度条要开始啦。。。')
    </script>
  </body>
</html>
