<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vue</title>
    <script src="../../lib/vue.min.js"></script>
  </head>
  <body>
    <div id="element">
      <input type="text" v-model="aaa" />
      <div>{{ obj.aaa }}</div>
    </div>
  </body>
  <script>
    let obj = {
      aaa: '111',
    }
    let a = new Vue({
      el: '#element',
      data: obj,
    })
    console.log(a)
  </script>
</html>
