<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>双向绑定 proxy实现</title>
  </head>
  <body>
    <input type="text" v-model="title" />
    <input type="text" v-model="title" />
    <div v-bind="title"></div>
  </body>
  <script>
    function View() {
      const proxy = new Proxy(
        {},
        {
          get(obj, property) {},
          set(obj, property, value) {
            obj[property] = value
            document.querySelectorAll(`[v-model="${property}"],[v-bind="${property}"]`).forEach((item) => {
              item.innerHTML = value
              item.value = value
            })
          },
        }
      )
      this.init = function () {
        let lists = document.querySelectorAll('[v-model]')
        lists.forEach((item) => {
          item.addEventListener('keyup', function () {
            proxy[this.getAttribute('v-model')] = this.value
          })
        })
      }
    }
    let view = new View().init()
  </script>
</html>
