<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>手写promise</title>
    <script src="HD.js"></script>
  </head>
  <body></body>
  <script>
    // let p = new HD((resolve, reject) => {
    //   setTimeout(() => {
    //     resolve('success')
    //   }, 2000)
    // })
    //   .then(
    //     (value) => {
    //       // console.log(value)
    //       // return '妙卡桑'
    //       let p = new HD((resolve, reject) => {
    //         resolve('fjkdsnfjkds')
    //         // return p
    //       })
    //       let promise = p.then((value) => {
    //         return promise
    //       })
    //     },
    //     (reason) => {
    //       return new HD((resolve, reject) => {
    //         reject('jhgjhgjhg')
    //       })
    //     }
    //   )
    //   .then(
    //     (value) => {
    //       console.log(value)
    //     },
    //     (reason) => {
    //       console.log(reason)
    //     }
    //   )
    // console.log('后盾人')
    // let p = new HD((resolve, reject) => {
    //   reject('拒绝')
    // })
    // HD.resolve(p).then(
    //   (value) => {
    //     console.log(value)
    //   },
    //   (reason) => {
    //     console.log(reason)
    //   }
    // )
    // let p = new HD((resolve, reject) => {
    //   reject('拒绝')
    // })
    // HD.reject(p).then(null, (reason) => {
    //   console.log(reason)
    // })

    // let a = new HD((resolve, reject) => {
    //   resolve('a成功')
    // })
    // let b = new HD((resolve, reject) => {
    //   reject('b成功')
    // })
    // HD.all([a, b]).then(
    //   (value) => {
    //     console.log(value)
    //   },
    //   (reason) => {
    //     console.log(reason)
    //   }
    // )

    let a = new HD((resolve, reject) => {
      setTimeout(() => {
        resolve('a成功')
      }, 2000)
    })
    let b = new HD((resolve, reject) => {
      setTimeout(() => {
        reject('b成功')
      }, 1000)
    })
    HD.race([a, b]).then(
      (value) => {
        console.log(value)
      },
      (reason) => {
        console.log(reason)
      }
    )
  </script>
</html>
